!
!
version 16.9
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
no platform punt-keepalive disable-kernel-core
platform bfd-debug-trace 1
platform xconnect load-balance-hash-algo mac-ip-instanceid
platform tcam-parity-error enable
platform tcam-threshold alarm-frequency 1
!
{% include './ios/hostname.j2' %}
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging userinfo
logging buffered 50000
enable secret 8 ##################
!
{% if config_context["aaa-new-model"] == false %}
no aaa new-model
{% else %}
!
aaa new-model
!
!
aaa group server tacacs+ AUTH_TACACS
 server-private 1.1.1.1 key 7 4343434343343434
 server-private 2.2.2.2 key 7 4343434343343434
 ip vrf forwarding TBD
 ip tacacs source-interface BDI10
!
aaa authentication login LOGIN_AUTH local
aaa authentication login CONSOLE local
aaa authentication login VTY group AUTH_TACACS local
aaa authentication enable default enable
aaa authentication dot1x default group ISE
aaa authorization console
aaa authorization config-commands
aaa authorization exec default local
aaa authorization exec VTY group AUTH_TACACS local if-authenticated
aaa authorization commands 1 VTY group AUTH_TACACS local if-authenticated
aaa authorization commands 15 VTY group AUTH_TACACS local if-authenticated
aaa authorization network default group ISE
aaa accounting dot1x default start-stop group ISE
aaa accounting exec default start-stop group AUTH_TACACS
aaa accounting commands 1 default start-stop group AUTH_TACACS
aaa accounting commands 15 default start-stop group AUTH_TACACS
!
!
!
aaa session-id common
{% endif %}
!
clock timezone PRT 0 0
clock summer-time PT recurring last Sun Mar 1:00 last Sun Oct 2:00
!
!
!
!
!
{% include './ios/dns.j2' %}
!
!
!
login block-for 300 attempts 5 within 60
login quiet-mode access-class 7
login on-failure log
login on-success log
!
!
!
!
!
!
!
mpls label protocol ldp
mpls propagate-cos
mpls ip default-route
mpls ldp session protection
mpls ldp igp sync holddown 10000
no mpls traffic-eng auto-bw timers
multilink bundle-name authenticated
!
key chain hsrpTEST
 key 100
  key-string 7 dededede43242432
!
! 
!
! license udi pid ASR-920-24SZ-M sn CAT2132V2KH
license accept end user agreement
license boot level advancedmetroipaccess
no license smart enable
!
!
!
!
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 1-4094 priority 4096
sdm prefer default
diagnostic bootup level minimal
!
!
{% include './ios/local_user.j2' %}
!
redundancy
!
!
!
!
!
{% if config_context["lldp"] == true %}
lldp run
{% endif %}
{% if config_context["cdp"] == true %}
cdp run
{% endif %}
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
! 
! 
!
!
{% include './ios/interfaces.j2' %}
{% if config_context["bgp"] is defined %}
{% include './ios/bgp.j2' %}
{% endif %}
!
!
virtual-service csr_mgmt
!
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
!
{% if config_context["routes"] is defined %}
{% if config_context["routes"]["static"] is defined %}
{% for static in config_context["routes"]["static"] %}
{{ static }}
{% endfor %}
{% endif %}
{% endif %}
ip scp server enable
!
!
{% include './ios/syslog.j2' %}
!
!
{% include './ios/snmp.j2' %}
!
!
!
control-plane
!
!
!
!
!
alias exec ntcclear clear platform software vnic-if nv
!
{% include './ios/console_vty.j2' %}
!
{% include './ios/ntp.j2' %}
!
!
!
!
!
{% include './ios/services.j2' %}
end
