!
!
version 16.9
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
no platform punt-keepalive disable-kernel-core
platform bfd-debug-trace 1
platform xconnect load-balance-hash-algo mac-ip-instanceid
platform tcam-parity-error enable
platform tcam-threshold alarm-frequency 1
!
{% include './ios/hostname.j2' %}
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging userinfo
logging buffered 50000
enable secret 8 ##################
!
{% if config_context["aaa-new-model"] == false %}
no aaa new-model
{% else %}
!
aaa new-model
!
!
aaa group server tacacs+ AUTH_TACACS
 server-private 1.1.1.1 key 7 4343434343343434
 server-private 2.2.2.2 key 7 4343434343343434
 ip vrf forwarding TBD
 ip tacacs source-interface BDI10
!
aaa authentication login LOGIN_AUTH local
aaa authentication login CONSOLE local
aaa authentication login VTY group AUTH_TACACS local
aaa authentication enable default enable
aaa authentication dot1x default group ISE
aaa authorization console
aaa authorization config-commands
aaa authorization exec default local
aaa authorization exec VTY group AUTH_TACACS local if-authenticated
aaa authorization commands 1 VTY group AUTH_TACACS local if-authenticated
aaa authorization commands 15 VTY group AUTH_TACACS local if-authenticated
aaa authorization network default group ISE
aaa accounting dot1x default start-stop group ISE
aaa accounting exec default start-stop group AUTH_TACACS
aaa accounting commands 1 default start-stop group AUTH_TACACS
aaa accounting commands 15 default start-stop group AUTH_TACACS
!
!
!
aaa session-id common
{% endif %}
!
clock timezone PRT 0 0
clock summer-time PT recurring last Sun Mar 1:00 last Sun Oct 2:00
!
!
{% include './ios/dns.j2' %}
!
!
login block-for 300 attempts 5 within 60
login quiet-mode access-class 7
login on-failure log
login on-success log
!
!
!
!
!
!
!
mpls label protocol ldp
mpls propagate-cos
mpls ip default-route
mpls ldp session protection
mpls ldp igp sync holddown 10000
no mpls traffic-eng auto-bw timers
multilink bundle-name authenticated
!
key chain hsrpTEST
 key 100
  key-string 7 dededede43242432
!
! 
!
! license udi pid ASR-920-24SZ-M sn CAT2132V2KH
license accept end user agreement
license boot level advancedmetroipaccess
no license smart enable
!
!
!
!
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 1-4094 priority 4096
sdm prefer default
diagnostic bootup level minimal
!
!
{% include './ios/local_user.j2' %}
!
redundancy
!
!
!
transceiver type all
 monitoring
!
{% if config_context["lldp"] == true %}
lldp run
{% endif %}
{% if config_context["cdp"] == true %}
cdp run
{% endif %}
!
! 
track 1 interface GigabitEthernet0/0/23 line-protocol
!
!
class-map match-all Class_Match_All_IN
  description Classificar Trafego Real Time a Entrada
 match access-group 10
class-map match-any Class_Silver
 match mpls experimental topmost 2
 match mpls experimental topmost 3
 match ip precedence 2
 match ip precedence 3
class-map match-any Class_Gold
 match mpls experimental topmost 4
 match mpls experimental topmost 6
 match mpls experimental topmost 7
 match ip precedence 4
 match ip precedence 6
 match ip precedence 7
class-map match-any Class_Bronze
 match ip precedence 1
 match mpls experimental topmost 1
class-map match-any Class_Real_Time
 match mpls experimental topmost 5
 match ip precedence 5
!
policy-map QUEUE_WAN_OUT_2
 class Class_Real_Time
  priority percent 10
 class Class_Gold
  bandwidth percent 40
 class Class_Silver
  bandwidth percent 30
 class Class_Bronze
  bandwidth percent 15
 class class-default
  bandwidth percent 5
policy-map SHAPE_48
 class class-default
  shape average 48000000
   service-policy QUEUE_WAN_OUT_2
policy-map Mark_Police_PT
 class Class_Match_All_IN
  set dscp af22
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_AL
 class Class_Match_All_IN
  set dscp cs4
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_CC
 class Class_Match_All_IN
  set dscp af21
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_RC
 class Class_Match_All_IN
  set dscp default
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_RI
 class Class_Match_All_IN
  set dscp af42
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_QS
 class Class_Match_All_IN
  set dscp af11
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_TL
 class Class_Match_All_IN
  set dscp af31
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_VI
 class Class_Match_All_IN
  set dscp af12
policy-map Mark_Police_VZ
 class Class_Match_All_IN
  set dscp af41
policy-map Mark_Police_SA
 class Class_Match_All_IN
  set dscp af13
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map SHAPE_600
 class class-default
  shape average 600000000
   service-policy QUEUE_WAN_OUT_2
policy-map Mark_Police_GO
 class Class_Match_All_IN
  set dscp af11
  police 2000000 31250 conform-action transmit  exceed-action drop
policy-map Mark_Police_GS
 class Class_Match_All_IN
  set dscp ef
policy-map QUEUE_WAN_OUT
 class Class_Real_Time
  priority
 class Class_Gold
 class Class_Silver
 class Class_Bronze
!
!
!
!
! 
!
!
{% include './ios/interfaces.j2' %}
!
!
!
!
router ospf 100
 router-id 1.1.1.1
 auto-cost reference-bandwidth 10000
 area 20 authentication message-digest
 redistribute connected subnets
 passive-interface Loopback0
 network 100.0.0.120 0.0.0.0 area 20
 network 100.0.4.126 0.0.0.0 area 20
 network 100.0.4.129 0.0.0.0 area 20
 mpls ldp sync
!
!
{% if config_context["bgp"] is defined %}
{% include './ios/bgp.j2' %}
{% endif %}
!
!
ip forward-protocol nd
ip telnet source-interface BDI10
!
no ip http server
no ip http secure-server
ip tftp source-interface BDI10
ip ssh time-out 15
ip ssh source-interface BDI10
ip ssh version 2
ip ssh precedence 4
!
!
{% if config_context["routes"] is defined %}
{% if config_context["routes"]["static"] is defined %}
{% for static in config_context["routes"]["static"] %}
{{ static }}
{% endfor %}
{% endif %}
{% endif %}
!
ip sla 200
 udp-jitter 100.0.0.7 5000 source-ip 10.0.0.120 codec g711ulaw
 tag SXX-AR1_to_SXX-CR1_UdpJitter
 frequency 300
ip sla schedule 200 life forever start-time now
!
!
{% include './ios/syslog.j2' %}
!
{% include './ios/mngacl.j2' %}
!
!
route-map Set_Local_preference permit 10
 match ip address 20
 set local-preference 120
!
route-map Set_Local_preference permit 20
!
{% include './ios/snmp.j2' %}
!
mpls ldp router-id Loopback0
!
radius-server deadtime 5
!
!
!
control-plane
!
banner login ^CCC
================================================================
^C
!
!
!
!
alias exec ntcclear clear platform software vnic-if nv
!
{% include './ios/console_vty.j2' %}
!
exception crashinfo file bootflash:crashinfo
no ntp allow mode control 0
{% include './ios/ntp.j2' %}
!
!
!
end
